<%- include('./partials/head', {current: '/vraag-aanbod'}); %>

<header class="smallHeader">
    <h1 class="title">Vraag & Aanbod</h1>
</header>

<main class="mBottom">
    <section class="services container">
        
        <section>
            <h3 class="type">Vraag</h3>

            <div class="items">
                <% services.forEach(function(service) { %>
                    <!-- Laat alleen de service zien als het type een vraag is -->
                    <% if (service.type == 'vraag' ) { %>
    
                        <article>
                            <% if (service.image) { %>
                                <img src="https://fdnd-agency.directus.app/assets/<%= service.image %>">
                            <% } %>
                            
                            <div class="description">
                                
                                <% if (service.start_date) { %>
                                    <p>
                                        <span><%= service.start_date %> - <%= service.end_date %></span>
                                    </p>
                                <% } %>
                                    
                                <a href="/vraag-aanbod/<%= service.id %>"><h3><%= service.title %></h3></a>
                                
                                <p><%- service.short_description %></p>
                            </div>
                        </article>
                    <% } %>
                <% }) %>
            </div>
        </section>    


        <section>
            <h3 class="type">Aanbod</h3>
            
            <div class="items">
                <% services.forEach(function(service) { %>
                    <!-- Laat alleen de service zien als het type een vraag is -->
                    <% if (service.type == 'aanbod' ) { %>
    
                        <article>
                            <% if (service.image) { %>
                                <img src="https://fdnd-agency.directus.app/assets/<%= service.image %>">
                            <% } %>
                            
                            <div class="description">
                                <a href="/vraag-aanbod/<%= service.id %>"><h3><%= service.title %></h3></a>
                               
                                <% if (service.start_date) { %>
                                    <p>
                                        <span><%= service.start_date %> - <%= service.end_date %></span>
                                    </p>
                                <% } %>
                                
                                <p><%- service.short_description %></p>
                            </div>
                        </article>
                    <% } %>
                <% }) %>
            </div>
        </section>   
    
    </section>    
</main>

<%- include('./partials/foot') %>